<!-- File Name: about.ejs -->
<!-- Name: Hoi Ying CHAN -->
<!-- ID: 301272441 -->
<!-- Date: 9 June 2023 -->

<!-- partials for top part of the webpage-->
<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>
<%- include('partials/content.ejs') %>

<!-- self introduction table-->
      <table id="aboutme">
        <tr>
          <td><span class="bold">M</span>oving from Hong Kong to Toronto, I hope to bring a diverse international 
            perspective and strong cross-cultural communication skills into my future workplace. Having a Bachelor of
            Accounting in Finance back in the University of Hong Kong, my completion on the course Software Engineering
            Technician here at Centennial College would allow me to transition smoothly into the field of technology and finance.</td>
          <td rowspan="2"><img src="/images/personal photo.jpg" width="240px" height="300px"></td>
        </tr>
        <tr>
          <td><a href="/documents/CV.pdf">Link</a> to my resume.</td>
        </tr>
      </table>
    </main>

<!-- partials for bottom part of the webpage-->
<%- include('partials/footer.ejs') %>
<%- include('partials/bottom_nav.ejs') %>
