<!-- File Name: projects.ejs -->
<!-- Name: Hoi Ying CHAN -->
<!-- ID: 301272441 -->
<!-- Date: 9 June 2023 -->

<!-- partials for top part of the webpage-->
<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>
<%- include('partials/content.ejs') %>

      <hr style="border-top: 5px solid #3d5be1;">
      <p style="text-align: center;font-size: large;">--- Previous Projects For You To Have A Look ---</p>
      <hr style="border-top: 5px solid #3d5be1;">

<!-- table for previous projects introduction-->
      <table id="projects">
        <tr>
          <td class="projectLink" style="width: 50%;text-align: center;"><a href ="http://studentweb.cencol.ca/hchan134/COMP213/HomePage.html"><img src="/images/project1.png" width="250px" height="200px"></a></td>
          <td style="padding-right: 40px;width: 50%; padding-left: 40px;background-color: rgb(232, 232, 232);""><h4>Local Real Estate Agent Webpage</h4>
          <p>Role: Sole webpage developer<br>This is a sample webpage of a Real Estate Agent, 
            in which it includes the following pages:
          <ul>
            <li>Home Page - Agent's professional profile</li>
            <li>Listing Pages - Current listings information</li>
            <li>Contact Form - For enquiries</li>
            <li>Site Map and Credits Page</li>
          </ul>
        </p></td>
        </tr>
        <tr>
          <td style="padding-right: 40px;width: 50%; padding-left: 40px; background-color: rgb(232, 232, 232);"><h4>Photo Gallery</h4>
          <p>Role: Sole webpage developer<br>This is a sample webpage of a Photo Galley, 
            in which you can:
          <ul>
            <li>Swipe left or right to view the photos</li>
            <li>Click on the picture to zoom in</li>
            <li>Add photos to Favourite section</li>
            <li>Remove photos from Favourite section</li>
          </ul>
        </p></td>
        <td class="projectLink" style="width: 50%;text-align: center;"><a href ="http://studentweb.cencol.ca/hchan134/COMP125/Assignment2/Assignment2.html"><img src="/images/project2.png" width="300px" height="200px"></a></td>
        </tr>
        <tr>
          <td class="projectLink" style="width: 50%;text-align: center;"><a href ="http://studentweb.cencol.ca/hchan134/COMP125/Assignment3/Assignment3.html"><img src="/images/project3.png" width="300px" height="200px"></a></td>
          <td style="padding-right: 40px;width: 50%; padding-left: 40px;background-color: rgb(232, 232, 232);""><h4>Cat Catcher Game</h4>
          <p>Role: Sole webpage developer<br>This is a simple game page called "Cat Catcher", 
            in which:
          <ul>
            <li>The cats hops randomly around the game area at a given interval</li>
            <li>The score will increment if successfully catched</li>
            <li>Speed will be faster every time the user catches</li>
            <li>Reset of score and time is possible</li>
          </ul>
        </p></td>
        </tr>
      </table>
      <br><br><br>
    </main>

<!-- partials for bottom part of the webpage-->
<%- include('partials/footer.ejs') %>
<%- include('partials/bottom_nav.ejs') %>