<!-- services.ejs -->
<!-- Hoi Ying CHAN 301272441 -->
<!-- 9 June 2023 -->

<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>
<%- include('partials/content.ejs') %>

      <div class="servicegrid-container">
        <div class="servicegrid-item">
          <table class="services">
            <tr class="row1">
              <td><img src="/images/programming.png"alt="Main" height="80px"width="80px"></td>
            </tr>
            <tr class="row2">
              <td style="background-color: #e7e9f0e2;"><h5><u>General Programming</u></h5></td>
            </tr>
            <tr class="row3">
              <td style="background-color: #cdd6f6e0;">
                <p>I offer comprehensive general programming solutions tailored to meet 
                  your unique needs, including C#, Javascript, Java. With a focus on quality and innovation, I 
                  deliver cutting-edge software solutions that drive business growth and enhance productivity. 
                  Contact me to bring your vision to life.</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="servicegrid-item">
          <table class="services">
            <tr class="row1">
              <td><img src="/images/webpage.png"alt="Main" height="80px"width="80px"></td>
            </tr>
            <tr class="row2">
              <td style="background-color: #e7e9f0e2;"><h5><u>Web Development</u></h5></td>    
            </tr>
            <tr class="row3">  
              <td style="background-color: #cdd6f6e0;">
                <p>I provide specialized web development solutions to help businesses establish a strong online 
                  presence. Excelling in creating visually appealing and user-friendly websites that are optimized 
                  for performance and functionality, I deliver high-quality web solutions tailored to your specific 
                  requirements.</p>
              </td>
            </tr>    
          </table>
        </div>
        <div class="servicegrid-item">
          <table class="services">
            <tr class="row1">
              <td><img src="/images/datascience.png"alt="Main" height="80px"width="80px"></td>
            </tr>
            <tr class="row2">
              <td style="background-color: #e7e9f0e2;"><h5><u>Data Science and Analytics</u></h5></td> 
            </tr>
            <tr class="row3">
              <td style="background-color: #cdd6f6e0;">
                <p>I offer comprehensive Data Science and Analytics solutions to help businesses harness the power 
                  of data. From data collection to predictive modeling and visualization, I provide 
                  end-to-end solutions that drive business growth and improve decision-making processes. Trust us to 
                  unlock the potential of your data.</p>
              </td>
            </tr> 
          </table>
        </div>  
        <div class="servicegrid-item">
          <table class="services">
            <tr class="row1">
              <td><img src="/images/mobileapp.png"alt="Main" height="80px"width="80px"></td>
            </tr> 
            <tr class="row2">
              <td style="background-color: #e7e9f0e2;"><h5><u>Mobile Apps</u></h5></td>  
            </tr>
            <tr class="row3">
              <td style="background-color: #cdd6f6e0;">
                <p>I specialize in developing innovative mobile applications that cater to the unique needs and 
                  preferences of my clients. Utilizing the latest technologies and frameworks to create 
                  intuitive mobile experiences, I will ensure a seamless and user-friendly app development process.</p>
              </td>
            </tr>
          </table>
      </div>
    </div>
    <br><br><br><br>
    </main>
<%- include('partials/footer.ejs') %>
<%- include('partials/bottom_nav.ejs') %>